test
tests
dist
output
dep
third_party
thirdsrc
mock
mocks
mockup
mockups
demo
tool
tools
doc
docs
bower_components
build
static
jquery(..+)?.(js|css)$
echarts.js
angular.js
backbone.js
ember.js
knockout.js
bootstrap.js
yui.js
zepto.js
when.js
moment.js
html5shiv.js
typo.css
*.min.js
*.m.js
*.mock.js
*.mockup.js
*.min.css
*.m.css
*.min.html
*.m.html
*.tpl.html
webpack.*

src/components/mand-mobile/**
src/components/cube-ui/**
src/components/business/picker/**
src/App.vue
